body {
  position: relative;
  width: 100%;
  min-width: 525px;
  background-image: url("./imgs/road.jpeg");
  background-repeat: repeat-x;
  background-position: right top;
  background-color: #77b244;
}

@keyframes bike-animation {
  0% {
    transform: translateX(0);
    left: -250px;
  }
  50% {
    transform: translateX(0);
    left: 100%;
  }
  50.01% {
    transform: translateX(0) rotateY(180deg);
    left: 110%;
  }
  100% {
    transform: translateX(0) rotateY(180deg);
    left: -350px;
  }
}

.bike-girl {
  position: relative;
  top: 30px;
  animation: bike-animation 20s linear infinite;
}

.tree {
  width: 255px;
  margin-bottom: 60px;
}
